<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.hopetheapp.hopeapp</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HOPE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.hopetheapp.hopeapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>phonepe</string>
		<string>tez</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>credpay</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>HOPE App would like to save photos from the app to your gallery.</string>
	<key>NSCameraUsageDescription</key>
	<string>HOPE App would like to save photos from the app to your gallery.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>HOPE App would like to save photos from the app to your gallery.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>HOPE App would like to access your FaceID for secure login</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>HOPE App would like to save photos from the app to your gallery.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>HOPE App would like to access your location to provide you regional service.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>HOPE App would like to access your location to provide you regional service.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>HOPE App would like to save photos from the app to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>HOPE App would like to access your photo gallery for uploading images to the app</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>HOPE App would like to use speech recognition for voice search.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to your calendar to help you manage events and schedules efficiently.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to your contacts to provide personalized communication and better social integration.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to the microphone to enable voice recording features.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires access to motion data to provide fitness tracking and related features.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Nunito-ExtraLightItalic.ttf</string>
		<string>Nunito-ExtraLight.ttf</string>
		<string>Nunito-LightItalic.ttf</string>
		<string>Nunito-Light.ttf</string>
		<string>Nunito-RegularItalic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Nunito-SemiBoldItalic.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>Nunito-BoldItalic.ttf</string>
		<string>Nunito-Bold.ttf</string>
		<string>Nunito-ExtraBoldItalic.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>Nunito-BlackItalic.ttf</string>
		<string>Nunito-Black.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>Amiko_Bold.ttf</string>
		<string>Amiko_Regular.ttf</string>
		<string>Amiko_Semibold.ttf</string>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>Nunito-MediumItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>